.findProduct {
  &__heading__first {
    font-size: 48px;
    font-weight: 700;
    color: #090a0a;
  }
  &__heading__second {
    @extend .findProduct__heading__first;
    font-size: 48px;
    font-weight: 700;
    color: #6b4eff;
  }
}
